{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <!--Inserting this page's stylesheet-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'posts/postForm/css/style.css' %}"> 
    <div class="row">
        <div class="col">
            <div class="card text-white bg-dark mb-3">
                <h1 class="card-header"> Write a new post </h1>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                            {{ form.title|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                            {{ form.author|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{ form.body|as_crispy_field }}
                            </div>    
                        </div>
                        <button class="btn btn-info btn-lg">Save</button>
                    </form>
                </div>
            </div>


        </div>
    </div>   

{% endblock %}   