<!doctype html>
<html lang="pt-br">
    <head>
        {% load static %}
        {% load sass_tags %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
            {% block title %}
                Loop
            {% endblock %}
        </title>
    
        <!--jQuery-->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

        <!--jQuery Migrate-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-3.3.2.min.js"></script>

        <!-- Bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        
        <!--Custom CSS-->
        <link rel="stylesheet" href="{% static 'base/css/reset.css' %}">
        <link rel="stylesheet" href="{% sass_src 'base/css/style.scss' %}" type="text/css" />

        <!--Custom JS-->
        <script type="text/javascript" src="{% static 'base/js/main.js' %}"></script>

        <!--Font-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,400;1,600&display=swap" rel="stylesheet"> 

        <!--Figma Open Source Icons-->
        <link href='https://css.gg/css' rel='stylesheet'>
        <link href='https://unpkg.com/css.gg/icons/all.css' rel='stylesheet'>
        <link href='https://cdn.jsdelivr.net/npm/css.gg/icons/all.css' rel='stylesheet'>

        <!--Tooltips-->
        <link rel="stylesheet" href="{% static 'plugins/tooltip/tooltip.css' %}">
        <script type="text/javascript" src="{% static 'plugins/tooltip/tooltip.js' %}"></script>

        <!--Slick Carousel-->
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>   


        <!--Custom page Css-->
        {% block custom_css %}{% endblock%}

        <!--Custom page JS-->
        {% block custom_js_top %}{% endblock %}
        
    </head>
    <body>
        <!-- Navbar -->
        {% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-dark p-1 py-2">
            <div class="container-fluid">
                <div class="row w-100 g-0">
                    <div class="col-auto order-1">
                        <div class="navbar-brand">
                            <a href='{% url "products:home" %}' id="logoGroup">
                                <img id="logo_l" class="d-sm-inline d-none" src="{% static 'base/img/logo_l.svg'%}"/
                                ><img id="logo_infinite" ontouchstart="options()" src="{% static 'base/img/logo_infinite.svg'%}"/
                                ><img id="logo_p" class="d-sm-inline d-none" src="{% static 'base/img/logo_p.svg'%}"/>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-auto col d-flex justify-content-end align-items-center order-md-3 order-2"> 
                        {% block user_info %}
                        <ul class="navbar-nav flex-row" style="width:max-content">
                            {% if user.is_authenticated %}
                                <li class="nav-item">
                                    <a class="nav-link active" href="{% url 'users:my_account'%}">Olá, {{request.user.get_username}}</a>
                                </li>
                                
                                <li class="nav-item ms-3">
                                    <a class="nav-link" href="{% url 'users:logout' %}"> Sair</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link active pe-2" href="{% url 'users:signup'%}">Criar Conta</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link border-start ps-2" href="{% url 'users:login'%}">Logar</a>
                                </li>
                            {% endif %}
                        </ul>
                        {% endblock %}
                    </div>
                    
                    <div class="col-md-6 mx-sm-auto order-md-2 order-3 mb-md-0 mb-2">
                        <form id="nav-search" class="input-group search--form" method="GET" action="{% url 'products:home' %}">
                            <input id="search--input" placeholder="O que você vai trocar hoje?" 
								name="q" aria-label="Pesquisar produtos" aria-describedby="search-icon">
                            <span type="submit" class="input-group-text" id="search-icon" 
								onclick="document.getElementById('form_id').submit()">
								<i class="gg-search"></i>
                            </span>
                        </form>
                    </div>
                    
                </div>
            </div>
        </nav>
        {% endblock %}
        
        <!-- Main -->
            <div class="container-fluid" id="page-container" >
                <div class="row justify-content-center mb-3">           
                    {% block content %}

                    {% endblock %}
                </div>
            </div>

            <!--Custom page js-->
            {% block custom_js_bottom %}{% endblock%}   
            <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>   

            <!-- Footer -->
            <footer class="footer row py-3">
                <div class="container p-4">
                    <span class="text-muted">Desenvolvido por <a href="https://github.com/Shaiene-kun" target="_blank">Shaiene-kun</a> e <a href="https://github.com/yasmin-liban" target="_blank">yasmin-liban</a> </span>
                </div>
            </footer>
        </div>
  </body>
</html>