{% extends 'base/base.html'%}
{% load static %}
{% load filters %}
{% load sass_tags %}

{% block title %}Loop | trocas inteligentes{% endblock %}
{% block custom_css %} <link rel="stylesheet" href=" {% sass_src 'products/home/css/style.scss' %} "> {% endblock %}
{% block custom_js_top %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" integrity="sha512-CEiA+78TpP9KAIPzqBvxUv8hy41jyI3f2uHi7DGp/Y/Ka973qgSdybNegWFciqh6GrN2UePx2KkflnQUbUhNIA==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/shortcuts/infinite.min.js" integrity="sha512-m3kH21aSkKrGeoqdb7IP7rlu1VcQee5VrjLQepeSOp5M05Wl6HwqJ1Jwo14EHOuBg77pkAlBtQuVMPVeXzfueg==" crossorigin="anonymous"></script>
{% endblock%}
{% block custom_js_bottom %}
<script type="text/javascript" src="{% static 'products/home/js/main.js' %}"></script>
{% endblock %}

{% block content%}
<div class="col-sm-10">
    <div class="container-fluid container-page p-4 pb-3">
        <div class="row justify-content-between">
            <div class="col-sm-7">
                <h1 class="loop--title">Olha só o que tem disponível 😁</h1>
                <div class="d-flex justify-content-end">
                    <div class="flecha"></div>
                </div>
            </div>
            <div class="col-sm d-flex justify-content-center align-items-center my-sm-0 my-4">
                <a href="{% url 'products:add' %}">
                    <button class="btn btn-loopYellow">Quero adicionar um produto pra trocar!</button>
                </a>
            </div>
        </div>
        <div class="row g-0">
            <div class="container-fluid p-0">
                <div class="row g-4 row-cols-md-2 row-cols-1" id="products-container">                    
                    {% for product in products %}  
                    <div class="col-lg-4 col-sm-6 products-item">
                        <div class="card bg-dark text-white">  
                            <a class="d-inline card-title" href="{% url 'products:detail' product.user.pk product.pk %}">
                            {% if product.product_image_set.exists %}
                                <img src="{{product.product_image_set.first.image.url}}" class="card-img-top"
                                onerror="this.src='{% static 'base/img/logo_placeholder.svg'%}'">
                            {% else %}
                                <img src="{% static 'base/img/logo_placeholder.svg'%}" class="card-img-top">
                            {% endif %}
                            </a>          
                            <div class="card-body">
                                <div>
                                    <div class="pills">
                                        <div class="pill-group" role="button" title="Pelo que eu tenho interesse em trocar" 
                                            rel="tooltip">
                                            {% for badge in product.get_badges %}
                                            <a href="#" class="badge rounded-pill me-1" style="background-color:{{badge.color}}" title="{{badge.name}}">
                                                {{badge.icon}}
                                            </a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <a class="d-inline card-title" href="{% url 'products:detail' product.user.pk product.pk %}">
                                        <b>{{ product.name}}</b>
                                    </a>
                                    <h3 class="card-subtitle text-muted d-inline">
                                        {{product.get_category_display}}
                                    </h3>
                                </div>
                            <div class="card-text">
                                    <p class="card-text--hide">{{product.info|safe}}<p>
                                </div>

                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% if page_obj.has_next %}
    <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">More</a>
{% endif %}
<div class="loading"></div>
{% endblock %}
