{% extends 'base/base.html'%}
{% block title %}Products{% endblock %}
{% block content%}

        {% comment %} Inserting this page's stylesheet {% endcomment %}
        {% load static %}
        
        {% comment %} Loading Filters {% endcomment %}
        {% load filters %}

        <link rel="stylesheet" href=" {% static 'products/home/css/style.css' %} "> 
        <h1 class="title" >Produtos</h1>
        <a href="{% url 'products:addProduct' %}">
            <button class="btn btn-sm btn-outline-primary"> + </button>
        </a>
        <div class="container-fluid p-0 m-0">
            <div class="row">                    
                    {% for product in object_list %}  
                        <div class="col-sm-6 coluna">
                            <div class="card text-white bg-dark mb-3">
                                <h5 class="card-header" >
                                    <a href="{% url 'products:productDetail' product.pk %}" > <b> {{ product.name}}</b> </a>
                                </h5>
                                <div class="card-body">                               
                                    <h6 class="card-subtitle mb-2 text-muted">
                                        {{product.category.get_category_display}}
                                    </h6>
                                    <p class="card-text">
                                        {{ product.info|formatted_markdown|safe  }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <br>

                    {% endfor %}

            </div>
        </div>

{% endblock %}
