{% extends 'base/base.html'%}
{% load static %}
{% load filters %}
{% load sass_tags %}

{% block title %}Loop | {{product.name}}{% endblock %}
{% block custom_css %} 
<link rel="stylesheet" href=" {% sass_src 'products/home/css/style.scss' %} ">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
{% endblock %}

{% block custom_js_bottom %}
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript" src="{% static 'products/productDetail/js/main.js' %}"></script>
{% endblock %}

{% block content%}
<div class="col-sm-10">
    <div class="container-fluid container-page p-4 pb-3">
        <div class="row justify-content-between">
            <div class="col-md d-inline-flex align-items-baseline">
                <h1 class="loop--title user-text">{{product.name}}</h1>
                <time class="text-muted">{{product.created_at| date:"d/m/y à\s H:i"}}</time>
            </div>
            <div class="col-md-auto my-md-0 my-2">
                <button class="btn btn-loopYellow d-block mx-auto">Tenho um produto pra trocar!</button>
            </div>
        </div>   
        <div class="row mt-3">
            <div class="col-md-6">
                {% if product.product_image_set.exists %}
                <div id="product_img--carousel">
                    {% for product_image in  product.product_image_set.all %}
                        <img src="{{product_image.image.url}}" class="img-to-modal" alt="Placeholder">
                    {% endfor %}
                </div> 
                {% else %}
                    <img src="{% static 'base/img/logo_placeholder.svg'%}" class="card-img-top" alt="Placeholder">
                {% endif %}
            </div>
            <div class="col-md-6">
                <div class="container-fluid loop-table">
                    <div class="row loop-table--row">
                        <div class="col-12 loop-table--header">
                            Nome
                        </div>
                        <div class="col-12 loop-table--cell">
                            {{product.name}}
                        </div>
                    </div>
                    <div class="row loop-table--row">
                        <div class="col-12 loop-table--header">
                            Adicionado em
                        </div>
                        <div class="col-12 loop-table--cell">
                            {{product.created_at | date:"d/m/y à\s H:i"}}
                        </div>
                    </div>
                    <div class="row loop-table--row">
                        <div class="col-12 loop-table--header">
                            Descrição
                        </div>
                        <div class="col-12 loop-table--cell">
                            {{product.info| truncatechars:100}}
                        </div>
                    </div>
                    <div class="row loop-table--row">
                        <div class="col-12 loop-table--header">
                            Dono
                        </div>
                        <div class="col-12 loop-table--cell">
                            <a href="{{product.user.profile.get_absolute_url}}">clique aqui pra ir pro dono</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2 class="loop--subtitle">Tenho interesse em trocar por:</h2>
                <div class="d-flex justify-content-end">
                    <div class="flecha"></div>
                </div>
            </div>

            <div class="troco-por col-12">
                {% for troco in product.trocopor.all %}
                    <div class="card bg-dark text-white mx-3">  
                    {% if troco.product_image_set.exists %}
                    <div id="product_img--carousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                        {% for product_image in  troco.product_image_set.all %}
                            <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                                <img src="{{product_image.image.url}}" class="card-img-top d-block" alt="Placeholder">
                            </div>
                        {% endfor %}
                        </div>
                        <div class="carousel-control-prev" type="button" data-bs-target="#product_img--carousel"  data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </div>
                        <div class="carousel-control-next" type="button" data-bs-target="#product_img--carousel"  data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </div>
                    </div> 
                    {% else %}
                        <img src="{% static 'base/img/logo_placeholder.svg'%}" class="card-img-top" alt="Placeholder">
                    {% endif %}
             
                    <div class="card-body">
                        <div>
                            <a class="d-inline card-title" href="{% url 'products:productDetail' troco.user.pk troco.pk %}">
                                <b>{{ troco.name}}</b>
                            </a>
                            <h3 class="card-subtitle text-muted d-inline">
                                {{troco.get_category_display}}
                            </h3>
                        </div>
                        <div class="card-text">
                            <p class="card-text--hide">{{troco.info|safe}}<p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="{% static 'plugins/img_modal/img_modal.css' %}">
<script type="text/javascript" src="{% static 'plugins/img_modal/img_modal.js' %}"></script>
{% endblock %}


