{% extends 'base/base.html'%}
{% load hitcount_tags %}
{% block title %} Loop{% endblock %}
{% block content %}
        <!--Inserting this page's stylesheet-->
        {% load static %}
        <link rel="stylesheet" href=" {% static 'products/productDetail/css/style.css' %} "> 
        <!-- Loading Filters-->
        {% load filters %}
        <div class="container-fluid">
            <div class="row">
                <div class="col post-body">
                    <h1>
                        {{product.name}}
                    </h1>
                    
                    <p>
                        {{ product.info|formatted_markdown|safe }}
                        
                    </p>
                    <br>Visto {% get_hit_count for product %} vezes</p>
                    <a href="{% url 'products:productUpdate' product.pk %}">
                        <button type="button" class="btn btn-outline-info">Editar</button>
                    </a>

                    <a href="{% url 'products:feed' %}">
                        <button type="button" class="btn btn-outline-info">Retornar</button>
                    </a>
                </div>
            </div>
        </div>

{% endblock %}

