{% extends 'base/base.html'%}
{% block title %}Login | Minael's Blog{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
        <div class="col">
            <div class="card text-white bg-dark mb-3">
                <h1 class="card-header"> Login </h1>
                <div class="card-body">
                    <form method="POST">
                    {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                            {{ form.username|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                            {{ form.password|as_crispy_field }}
                            </div>
                            <div class='col d-flex flex-row-reverse'>
                                <button class="btn  btn-info btn-lg login-btn">Login</button>
                            <div>
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </div>   
{% endblock %}