/* Tags */
:root{
    --main-yellow: #fff748;
    --main-purple: #5e13a4; 
    --main-deep-purple: #231b32;
    font-family: 'Source Sans Pro', sans-serif;
} 
*{
}

html{
    position: relative;
    min-height: 100%;
}
body{
    background-color: #121212;
    margin-bottom: 60px;
}
nav{
    margin-bottom:1%;
}
.footer{
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(50, 52, 53);
    color: white;
    text-align: center;
}
.form-label{
    font-size: small;
}
nav img{
    width: 40px;
}
.navbar{
    background-color: var(--main-deep-purple);
}

/* Classes */
.title{
    color: white;
}
.post-body{
    color:white;
}
.block{
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 8px outset rgb(51, 57, 59);
    background-color:rgb(79, 88, 76);
    padding: 3%;
}
.push{
    height: 100%;
}
#logo{
    width: auto;
    height: clamp(2.5rem,5vw,2.7rem);
}
#search--input{
    width: 50vw;
    border-radius: 0.6rem 0 0 0.6rem;
    padding: .3rem;
    border: solid var(--main-purple) .5px;
    background-color: var(--main-deep-purple);
    color: white;
    font-weight: 800;
    transition: all 0.2s ease-in-out;
}
.search--form:hover{
    filter: drop-shadow(0 2px 5px #000);
}
