/* Tags */
:root{
    --main-yellow: #fff748;
    --main-purple: #5e13a4; 
    --main-purple-rgb: 94, 19, 164;
    --main-deep-purple: #1c1628;
    --main-deepest-purple: #0e0a17;
    --theme-bg: rgb(29, 29, 29);
    --theme-font: whitesmoke;
    font-family: 'Source Sans Pro', sans-serif;
} 

html{
    position: relative;
    min-height: 100%;
}
body{
    background-color: var(--main-deepest-purple);
    margin-bottom: 60px;
}
.footer{
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(50, 52, 53);
    color: white;
    text-align: center;
}
.form-label{
    font-size: small;
}
nav img{
    width: 40px;
}
.navbar{
    background-color: var(--main-deep-purple);
}

/* Classes */
.block{
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 8px outset rgb(51, 57, 59);
    background-color:rgb(79, 88, 76);
    padding: 3%;
}
.push{
    height: 100%;
}
/*Logo do Loop*/
img[id^="logo"]{
    width: auto;
    height: clamp(2.5rem,5vw,2.7rem);
}
@keyframes cool_rotate{
    from{  transform: rotate(0deg) }
    to{ transform: rotate(360deg)  }
}
.navbar-brand:hover #logo_infinite{
    animation-name: cool_rotate;
    animation-duration: 1.6s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275)
}
/* Override do Bootstrap*/
.nav-link{
    font-size: large;
    
}
.border-start{
    border-left: 1px solid var(--main-purple) !important;
}
/* Barra de Pesquisa*/
#search--input{
    width: 50vw;
    border-radius: 0.6rem 0 0 0.6rem;
    padding: .3rem;
    border: solid var(--main-purple) .5px;
    background-color: var(--main-deep-purple);
    color: white;
    
    transition: all 0.2s ease-in-out;
}

@media (max-width:358px){
    #search--input{
        width: 80vw;
    }
}

#search--input:focus, #search--input:focus + #search-icon, .input-group:hover{
    filter: drop-shadow(0 2px 5px #000);
}
/* Container do body*/
#page-container{
    height: 100vh;
    margin-top:1%;
}